div{
	margin-top:1px;
	margin-bottom:1px;
	padding-right:3px;
	padding-left:3px;
	margin-left:3px;
	opacity: 0.95;
}
h1{
	margin-top:1px;
	margin-bottom:-10px;
	margin-right:0px;
	margin-left:10px;
	font-family: 'Arvo', serif;
}
#container {
    background-color: #000;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    margin: 100px;
    padding: 0px;
    position: static; /* fixed or static */
    top: 100px;
    left: 100px;
}
h2{
	margin-top:0px;
	margin-bottom:-20px;
	margin-right:0px;
	margin-left:10px;
	font-family: 'Arvo', serif;
}
a{
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:10px;
	font-family: 'Arvo', serif;
}
font{
	margin-top:0px;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:10px;
	font-family: 'Arvo', serif;
}
body {
	color: #000;
	font-family:Monospace;
	font-size:13px;
	text-align:center;

	background-color: #fff;
	margin: 0px;
	overflow: hidden;
}


#stats { position: absolute; top:0; left: 0 }
#stats #fps { background: transparent !important }
#stats #fps #fpsText { color: #777 !important }
#stats #fps #fpsGraph { display: none }